<%-include('partials/header')%>

<h1>Index Page</h1>
<!-- add time -->
<!-- date and time autofill -->
<!-- if clocked in / clocked out -->
<!-- business or personal radio selector -->
<!-- client dropdown -->
<!-- job or p.o. # -->

<form class="timeclock">

</form>
<!-- show stats for today -->

<!-- change display settings -->

<!-- display week month or such determined by settings -->


<%-include('partials/footer')%>