.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        
        display: inline-block;
        
        transition: all .2s ;
        position: relative;
        
        font-family: inherit;
        align-self: center;
    

        //Change for the <button> element
        border: none;
        cursor: pointer;
    }
    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba(black ,.2);
    }
  
    &:active,
    &:focus {
      outline: none;
      transform: translateY(-1px);
      box-shadow: 0 .5rem 1rem rgba(black ,.2);
    }
  

}

.btn-submit {
  
  background-color: var(--color-primary-dark);
  color: var(--color-comp-dark);
  padding: .75rem 3rem;
  font-size: 1.5rem;
  border-radius: 1rem;

 

}

.btn-punchOut {
  background-color: var(--color-comp-light);
  color: white;
  padding: .25rem .75rem;
  font-size: 1.3rem;
  border-radius: .6rem;

}

.btn-edit {
  background-color: var(--color-comp-dark);
  color: var(--color-primary-dark);
  padding: .25rem .75rem;
  font-size: 1rem;
  border-radius: .3rem;

}

.btn-delete {
  background-color: var(--color-comp-light);
  color: white;
  padding: .5rem .75rem;
  font-size: 1rem;
  border-radius: .3rem;

}

.btn-home {
  background-color: var(--color-primary-dark);
  color: white;
  padding: .5rem 1rem;
  font-size: 1.25rem;
  border-radius: .5rem;
  margin: 1rem auto;
  

}