

table {
 
  
  text-align: center;
  

  &__header {
      font-size: 1.8;
  }
}

thead {
    font-size: 1.3rem;
}

td {
    border-bottom: 1px solid var(--color-comp-light);
    padding: 3px;
    margin-bottom: 5px;
}