//index page styles

.dayInfo {
    max-width: 75%;
    font-size: 2rem;
    font-weight: 300;
    background-color: var(--color-grey-light-1);
    padding: 1rem;
    text-align: center;
}

.section-punch {

    
    margin: 1rem;
    

}

.punch-form {
    


    
}
.form {

    border-radius: 5%;
    border: 1px solid var(--color-primary-light);
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    text-align: center;
    border-radius: 10%;

    &__header {
        margin: 1rem auto;
        text-align: center;
        font-size: 3rem;
        font-weight: 300;
    }

    &__group {
        padding: 1rem;
        width: 20rem;
    }

    &__label {
        font-size: inherit;
        font-family: inherit;
        text-transform: uppercase;
        letter-spacing: 1.1;

    }

    &__input-info,
    &__input-time {
        font-size: inherit;
        font-family: inherit;
        color: inherit;
        padding: .75rem 1rem;
        border-radius: 2px;
        background-color: var(--color-grey-light-2);
        border: none;   
        border-bottom: 3px solid transparent;
        display: block;
        transition: all .3s;
        width: 96%;
        

        &:focus {
            outline: none;
            box-shadow: 0 2rem 3rem rgba(black, .2);
            border-bottom: 3px solid var(--color-primary);
        }

        // &::placeholder {
        // color: $color-grey-dark-2;
        // }

    }

    &__input-time {
        padding: .5rem 1rem;

    }

}

.table-container {

    background-color: var(--color-grey-light-1);
    border-radius: 5%;
    border: 2px solid var(--color-primary-light);
    margin: 1rem;
    padding: 2.5rem;
}