//index page styles
.header {
   margin: 0 auto;
   max-width: 35%;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 3rem;
        background-color: white;
        text-align: center;
        border-radius: 1rem;
        border: 1px solid var(--color-primary-light);
        

    }

    &__title {
        font-size: 3rem;
        font-weight: 200;

    }

    &__subtitle {
        font-size: 1.7rem;
        font-weight: 300;
        text-transform: uppercase;
    }

    &__dateline {
        font-size: 1.3rem;
        font-weight: 400;
    }

}


.section-punch {

    z-index: 15;
    margin: 1rem;
    border-radius: 10%;
    border: 1px solid var(--color-primary-light);
    background-color: var(--color-grey-light-alpha);
    
}






.table-container {

    background-color: var(--color-grey-light-alpha);
    border-radius: 1rem;
    border: 2px solid var(--color-primary-light);
    margin: 1rem;
    padding: 2.5rem;
    // min-height: 10rem;
    min-width: 30rem;
    text-align: center;
}

.weekly-container {
    background-color: var(--color-grey-light-alpha);
    border-radius: 1rem;
    border: 2px solid var(--color-primary-light);
    margin: 1rem;
    padding: 2.5rem;
    text-align: center;
}

.history-container {
    background-color: var(--color-grey-light-alpha);
    border-radius: 1rem;
    border: 2px solid var(--color-primary-light);
    margin: 1rem;
    padding: 2.5rem;
    text-align: center;

}